
// theme colors

$theme-green: #00acc1;
$theme-green-hover: #0ca1b3;
$theme-green-disabled: #5ed9e8;

$theme-yellow: #fdd835;
$theme-yellow-hover: #eccb39;
$theme-yellow-disabled: #f3da6e;

$theme-red: #ff1d25;
$theme-red-hover: #da2a30;
$theme-red-disabled: #ff8286;

$theme-slider-bgc: #f3f3f3;
$theme-brdr-clr1: #ccc;
$theme-submenu-hover: #e6e6e6;

$theme-default-text-color: #333333;

$theme-bg-grey1: #f3f3f3;

$theme-green-shade1: #4dd0e1;
$theme-green-shade2: #26c6da;
$theme-green-shade3: #00acc1;

$theme-footer-bg: #333333;
$theme-footer-copyright: #2d2d2d;
$theme-galtab-brdrclr: #cecece;

// other single colors

$white: #ffffff;
$black: #000000;
$erroe-red: red;