
$font: 'Roboto', sans-serif;

$h1: 30px;

$h1_tablet: 25px;

$h1_mobile: 20px;

$h2: 24px;

$h2_tablet: 20px;

$h3: 20px;

$h4: 16px;

$h5: 14px;

$h6: 12px;

$def_font_size: 14px;

$def_font_size_mobile: 12px;